# Ignore files generated with 'gcc -save-temps=obj'
*.c.i
*.c.s

# Ignore dependency files generated with 'gcc -M ...'
*.c.d
*.c.d.*

# Ignore object files
*.c.o
*.s.o
*.S.o

# Ignore stack usage files generated with 'gcc -fstack-usage ...'
*.su

